# Here you list the compose files on a new line each.
# Uncomment out the ones you want to start back up after the script finishes. Leve commented out if you wish for them to stay down.
#/home/user/docker/nginxdemo/docker-compose.yml
